body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  margin: 0;
}

header {
  background: #1e293b;
  padding: 15px;
  font-size: 20px;
}

.container {
  display: flex;
}

.sidebar {
  width: 220px;
  background: #1e293b;
  height: 100vh;
  padding: 20px;
}

.sidebar button {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  background: #334155;
  border: none;
  color: white;
  cursor: pointer;
}

.content {
  flex: 1;
  padding: 20px;
}

.card {
  background: #1e293b;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
}
